{% extends "wrapper.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Derniers articles</h2><br/>

            {% if not articles %}
                <h3>Aucun article.</h3>
            {% else %}
                <ul class="list-group">
                    {% for article in articles %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{ article[1] }}</h4>
                            <p class ="list-group-item-text">{{ article[5] }}</p><br/>
                            <div class="row text-muted">
                                <div class="col-md-6">Auteur: {{ article[3] }}</div>
                                <div class="col-md-6 text-right"><span class="glyphicon glyphicon-time"></span> {{ article[4] }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}