{% extends "wrapper.html" %}
{% block content %}
    <h2>Résultats pour "{{ recherche }}"</h2><br/>

    {% if not articles %}
        <h3>Aucun article.</h3>
    {% else %}
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">
                    <div class="row">
                        <a href="/article/{{ article.identifiant }}" class="col-md-6">{{ article.titre }}</a>
                        <div class="col-md-6 text-right"><span class="glyphicon glyphicon-time"></span> {{ article.date }}</div>
                    </div>
                </li>
                {% if not loop.last %}
                    <br/>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}